
.ProductReview{
    width: 100%;
    position: relative;
  }
  .ProductReview > img{
    width: 100%;
  }
  .ProductData{
    width: 50%;
  }
  .TimeSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
  }
  .HeartBeatSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
  }
  .HeartBeatSection >p{
    margin-top: 16px;
  }